<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 footer-logo">
        <h2>GoViajes</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text since the 1500s.
        </p>
        <div class="social-icons">
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-youtube"></i></a>
          <a href="#"><i class="bi bi-twitter"></i></a>
        </div>
      </div>

      <!-- About -->
      <div class="col-md-3 footer-section">
        <h4>Sobre Nosotros</h4>
        <ul>
          <li><a href="#">Menu</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">News & Blogs</a></li>
          <li><a href="#">Help & Support</a></li>
        </ul>
      </div>

      <!-- Company -->
      <div class="col-md-3 footer-section">
        <h4>Empresa</h4>
        <ul>
          <li><a href="#">Cómo trabajamos</a></li>
          <li><a href="#">Terminos y condiciones</a></li>
          <li><a href="#">Precio</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>

      <!-- Contact -->
      <div class="col-md-3 footer-section">
        <h4>Contáctanos</h4>

        <p><a href="mailto:vlstransportatio.com@mail.com">goviajes&#64;gmail.com</a></p>
        <p><a href="http://www.vlstransportatio.com">www.goviajes.com</a></p>
      </div>
    </div>
  </div>
</footer>
