<header class="navbar">
  <div class="container d-flex align-items-center justify-content-between">
    <!-- Logotipo -->
    <div class="logo">
      <h1>GoViajes</h1>
    </div>

    <!-- Menú de navegación -->
    <nav class="menu">
      <ul class="d-flex align-items-center">
        <li><a routerLink="auth/login">Login</a></li>
        <li><a href="#us">Por qué elegir GoViajes</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>

    <!-- Íconos de redes sociales -->
    <div class="social-icons d-flex align-items-center">
      <a href="#" class="icon"><i class="bi bi-twitter"></i></a>
      <a href="#" class="icon"><i class="bi bi-instagram"></i></a>
      <a href="#" class="icon"><i class="bi bi-facebook"></i></a>
    </div>
  </div>
</header>
