<div class="landing-page">

  <div
    class="hero-section text-center text-light d-flex align-items-center justify-content-center"
    style="background-image: url('assets/hero.jpg'); height: 100vh; background-size: cover; background-position: center;">
    <div class="hero-content">
      <h1 class="animate__animated animate__rubberBand">Descubramos el Mundo
        Juntos</h1>
      <p>¡Planifica tu próximo viaje con nosotros y experimenta el mundo como
        nunca antes!</p>
      <button id="buscar-btn"
              class="btn btn-lg mt-3">
        Reservar Ahora
      </button>

        <app-trip-search></app-trip-search>
    </div>
  </div>

  <div class="why-choose-us py-5 text-center" id="us">
    <h2 class="animate__animated animate__fadeInUp">¿POR QUÉ ELEGIRNOS?</h2>
    <div class="row mt-4">
      <div class="col-md-4">
        <i class="bi bi-currency-dollar fs-1 text-primary"></i>
        <h5>Precios Competitivos</h5>
        <p>Disfruta de tarifas asequibles para tus viajes.</p>
      </div>
      <div class="col-md-4">
        <i class="bi bi-check-circle fs-1 text-primary"></i>
        <h5>Reservas Seguras</h5>
        <p>Reserva con confianza y seguridad.</p>
      </div>
      <div class="col-md-4">
        <i class="bi bi-geo-alt fs-1 text-primary"></i>
        <h5>Experiencia Turística</h5>
        <p>Descubre experiencias diseñadas para todos los viajeros.</p>
      </div>
    </div>
  </div>

  <!-- Sección Viajar por Actividad -->
  <div class="travel-by-activity py-5">
    <h2 class="text-center">Viaja por ACTIVIDAD</h2>
    <div class="row mt-4">
      <div class="col-md-4 text-center">
        <div class="activity-card p-3">
          <h5>Aventura</h5>
          <p>Explora la emoción de los viajes de aventura.</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="activity-card p-3">
          <h5>Parques de Diversión</h5>
          <p>Viajes llenos de diversión para toda la familia.</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="activity-card p-3">
          <h5>Zoológicos</h5>
          <p>Descubre animales exóticos de todo el mundo.</p>
        </div>
      </div>
    </div>
  </div>
</div>
