.hero-section {
  height: 100vh;
  color: #fff;
  text-align: center;
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero-content p {
  font-size: 1.2rem;
}

.search-bar input {
  max-width: 200px;
}

.search-bar button {
  height: 38px;
}

.why-choose-us {
  background-color: #f8f9fa;
}

.why-choose-us h2 {
  font-size: 2.5rem;
}

.travel-by-activity .activity-card {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: all 0.3s;
}

.travel-by-activity .activity-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.call-to-action {
  background: linear-gradient(90deg, #ff5722, #ff9800);
}

#buscar-btn {
  color: white;
  background: #ff5722;
}

#buscar-btn:hover {
  animation: bounce;
  animation-duration: 1s;
}
